/* Add your CSS below */

/* Example: adding a background color to the HTML body */
h1 
{
	margin: 0cm 0cm 0cm 0cm;
	border: 2px solid red;
	border-radius: 5px;
	background: radial-gradient(circle, red, yellow);
	background-color:#99ccff;
	display:inline-block;
}
#title
{
	border: 2px solid red;
	border-radius: 5px;
	background: radial-gradient(circle, red, pink);
	background-color:#99ccff;
	display:inline-block;
}
h2
{
	margin: 2cm 4cm 0cm 4cm;
	border-bottom: 6px solid red;
	background-color: lightgrey;
	display:inline-block;
}
img
{
    margin: 0cm 4cm 0cm 2cm;
	padding:1px;
	border:1px solid #021a40;
	background-color:#ffo;
}
h3
{
    margin: 0cm 4cm 0cm 1cm;
	color: yellow;
}
ul.a 
{
    display: inline;
}
ul.b
{
	border-left: 6px solid red;
    padding: 5px;
    margin-left: 35px;
}
li.a 
{
    display: inline;
}
a:link, a:visited
{
	background-color: tan;
	color: blue;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
a:hover, a:active
{
	background-color: hotpink;
	color: purple;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
body
{
	background: linear-gradient(green, #5AC2C2);
}
p
{
	margin: 0cm 4cm 0cm 4cm;
}